<link rel="stylesheet" type="text/css" href="/css/home.css">
<script type="text/javascript" src="/js/time.js"></script>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/admin.min.css" rel="stylesheet">



  <%if(currentUser.isAdmin=='true'){%>
    <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/account">
        <div class="sidebar-brand-icon">
          <!-- logo image size 16 X 16 -->
            <!-- <img class="rounded-circle" src="/img/logo.png" alt="Logo"> -->
        </div>
        <div class="sidebar-brand-text mx-3">Twitsoft</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">



      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item ">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-mobile"></i>
          <span>Mobile Proxies</span></a>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item ">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-check-square "></i>
          <span>Phone Verification</span></a>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item ">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-cogs"></i>
            <span>Buy Accounts</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Support
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-envelope-open"></i>
          <span>Support</span></a>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-comments"></i>
          <span>Join Telegram</span></a>
      </li>




      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-5" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Logo  -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/account">
          <div class="sidebar-brand-icon rotate-n-15">

          </div>
          <div class="sidebar-brand-text mx-3">Twitsoft</div>
          </a>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> <%= currentUser.username %> </span>
                <img class="img-profile rounded-circle" src="https://i5.walmartimages.com/asr/c42465cc-494b-4f72-b670-273be8a69c48_1.8eb864f278e0e16739f6d05106a6df16.gif?odnHeight=180&odnWidth=180&odnBg=FFFFFF">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/logout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->

          <!-- Content Row -->
          <div class="row">

            <!-- Dashboard 1 -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-4">
                      <div class="h1 mb-6 font-weight-bold text-gray-800">
                        <strong class="navbar-brand " >Active IP's</strong>
                      </div>
                      <%  var i=1,count=0;list.forEach(list => {%>
                <%if(list.username == true){
               count++;
               }})%>
                    </div>
                    <div class="col-auto">
                    <i class="fa fa-group" style="font-size:54px"><%=count%></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- dashboard  2-->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-4">
                      <div class="h1 mb-6 font-weight-bold text-gray-800">
                        <strong class="navbar-brand " >Pending IP's</strong>
                      </div>
                    </div>
                    <div class="col-auto">
                    <i class="fa fa-group" style="font-size:54px">0</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- dashboard  3-->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-4">
                      <div class="h1 mb-6 font-weight-bold text-gray-800">
                        <strong class="navbar-brand " >Open Ticket's</strong>
                      </div>
                    </div>
                    <div class="col-auto">
                    <i class="fa fa-group" style="font-size:54px">0</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800"></h1>
                <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                <a class="nav-link" href="/add_user"> + Add User</a></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>E-mail</th>
                      <th>Password</th>
                      <th>Gateway</th>
                      <th>Port</th>
                      <th>Expriry Date</th>
                      <th>IP address</th>
                      <th>update</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Username</th>
                      <th>E-mail</th>
                      <th>Password</th>
                      <th>Gateway</th>
                      <th>Port</th>
                      <th>Expriry Date</th>
                      <th>IP address</th>
                      <th>update</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  	<% var i=1;list.forEach(list => {i++;%>
                  	<%if(list.isAdmin=='true'){}else{%>
                   <form action="/update/<%=list._id%>" method="POST">
                    <tr>
                      <td><%=list.username%></td>
                      <td><%=list.email%></td>
                      <td><%=list.password%></td>
                      <td><input type="text" class="form-control" name="gateway" value="<%=list.gateway%>"></td>
                      <td><input type="number" class="form-control" name="port" value="<%=list.port%>"></td>
                      <td><input type="date" class="form-control" name="exprirydate" value="<%=list.exprirydate%>"></td>
                      <td><input type="text" class="form-control" name="ipad"value="<%=list.ipad%>"></td>
                      <td><input type="submit" value="update" class="btn btn-sm btn-success"></td>
                    </tr>
                   </form>
                    <%}})%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- End of admin page -->

    <!-- start of client page -->



  <%}else{%>

    <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/account">
        <div class="sidebar-brand-icon">
          <!-- logo image size 16 X 16 -->
            <!-- <img class="rounded-circle" src="/img/logo.png" alt="Logo"> -->
        </div>
        <div class="sidebar-brand-text mx-3">Twitsoft</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Support
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-envelope-open"></i>
          <span>Support</span></a>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="/account">
          <i class="fas fa-fw fa-comments"></i>
          <span>Join Telegram</span></a>
      </li>




      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-5" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Logo  -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/account">
          <div class="sidebar-brand-icon rotate-n-15">

          </div>
          <div class="sidebar-brand-text mx-3">Twitsoft</div>
          </a>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> <%= currentUser.username %> </span>
                <img class="img-profile rounded-circle" src="https://i5.walmartimages.com/asr/c42465cc-494b-4f72-b670-273be8a69c48_1.8eb864f278e0e16739f6d05106a6df16.gif?odnHeight=180&odnWidth=180&odnBg=FFFFFF">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/logout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->


          <!-- Content Row -->

          <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800"></h1>
                <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                <a class="nav-link" href="/account"> Welcome, <%= currentUser.username %></a></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>E-mail</th>
                      <th>Password</th>
                      <th>Gateway</th>
                      <th>Port</th>
                      <th>Expriry Date</th>
                      <th>IP address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%=currentUser.username%></td>
                      <td><%=currentUser.email%></td>
                      <td><%=currentUser.password%></td>
                    <td><%=currentUser.gateway%></td>
                      <td><%=currentUser.port%></td>
                      <td><%=currentUser.exprirydate%></td>
                      <td><%=currentUser.ipad%></td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- End of admin page -->

    <!-- start of client page -->











<%}%>
<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/admin.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
